.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
	

/* defaults */
* {
  margin: 0;
  padding: 0;
}
 
html, body {
  height: 100%;
}
 
body {
  background-color: #fffffd;
  font: 10px "Lucida Grande", Verdanda, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times, serif;
	font-weight: normal;
}
 
h1 {
	margin-bottom: 1em;
  font-size: 1.9em;
}

h2 {
	margin-bottom: 0.9em;
  font-size: 1.7em;
}

h3 {
	margin-bottom: 0.4em;
  font-size: 1.5em;
  
}

h1 a {
	text-decoration: none;
}
 
p {
  margin: 1em 0;
}
p.date {
	font-style: italic;
}
a {
  color: #00a;
	text-decoration: none;
}
 
a:hover {
  color: black;
	text-decoration: underline;
}
a img {
  border: none;
}
table {
  font-size: inherit;
  font: 100%;
}
blockquote {
  font-style: italic;
	font-size: 0.9em;
  margin-left: 2em;
  margin-right: 2em;

  color: #555;
  border: 1px dashed #555;
  padding: 0 15px 15px 15px;
}

blockquote ul {
	margin-left: 40px;
	list-style-type: square;
}

/* site */
div.site {
   font-size: 150%;
   text-align: justify;
   max-width: 43em;
   margin: 3em auto;
   line-height: 1.8em;
	 padding: 0 1em;
	 color: #444;
}

/* header */
.header {
   clear: both;
	 margin-bottom: 1em;
}
.header .title {
   font-weight: bold;
   margin-bottom: 0.7em;
   float: left;
   margin-right: 2em;
	 font-size: 1.4em;
}

.header .title a {
   color: #55e;
   text-decoration: none;
}

.header .title a:hover {
   color: black;
}

.header .menu {
  float: left;
  font-size: 115%;
}

.header .menu li {
   list-style-type: none;
   display: inline;
   margin-right: 0.3em;
}

.header .menu li a {
   color: #777;
   text-decoration: none;
}

.header .menu li a:hover {
  color: black;
}

/* posts */

.posts li {
   list-style-type: none;
}

/* footer */
.footer {
   clear: both;
   margin-top: 2em;
   border-top: 3px solid #777;
   padding-top: 1em;
}
.footer .contact {
   float: left;
}
.footer .rss {
   float: right;
}

.file {
   border: 1px solid #777;
}

.file .name {
   background-color: #aaa;
   padding: 0.7em;
   border-bottom: 1px solid #777;
   font-family: 
}

.file .text {
  padding: 0.7em;
}
